.main-container {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.home-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-div {
    display: flex;
    justify-self: center;
    height: 100%;
}

.info-div {
   margin: 10%
}

.profile-img {
    width: 100%;
    border-radius: 100%;
}

.icon {
    width: 10%;
    margin: 10px;
}

@media (max-width: 950px){
    .home-center{
        display: flex;
        flex-direction: column;
    }
    
    .img-div {
        margin: 0;
        margin-left: 20%;
        margin-right: 20%;
    }

    .profile-img {
        width: 100%;
    }

}