.nav-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.home-link {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    width: 100%;
}

.name {
    font-size: 190%;
    font-weight: 700;
    color: #282828;
}

.surname {
    margin-left: 5%;
    font-size: 190%;
    font-weight: 400;
    color: #808080;
}

.link {
    text-decoration: none;
}

.blog-div {
    margin-top: 9px;
    color: #808080;
    font-size: 125%;
}

.blog-div:hover{
    color: black;
    transition: color 0.8s ease;
}

@media (max-width: 720px){
    .name {
        font-size: 190%;
        font-weight: 700;
        color: #282828;
    }
    
    .surname {
        margin-left: 5%;
        font-size: 190%;
        font-weight: 400;
        color: #808080;
    }
}